<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Yaha hum bean banate hai. Spring is bean ko manage karta hai using IoC container -->

<!--    <bean id="alien1" class="org.example.Springxml.Alien" scope="prototype"/>-->
    <bean id="alien1" class="org.example.Springxml.Alien">
<!--        //yha private property ki value set kr diye or setter call krta hai usse set krta hai isliye setter injection -->
        <property name="age" value="21"/>
<!--        yha ref me niche laptop ka jo bean hai uski id deni hai -->
        <property name="laptop" ref="lap"/>
    </bean>
    <bean id="lap" class="org.example.Springxml.Laptop"/>

</beans>
